@{
    ViewData["Title"] = "App List";
}
<h2>@ViewData["Title"]</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                App Name
            </th>
            <th>
                URL
            </th>
        </tr>
    </thead>
    <tr>
        <td>
            Social Mediaaaaaaaaaaa
        </td>
        <td>
            <a href="http://www.socialmedia.com">http://www.socialmedia.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Music
        </td>
        <td>
            <a href="http://www.music.com">http://www.music.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Tracker
        </td>
        <td>
            <a href="http://www.tracker.com">http://www.tracker.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Weather
        </td>
        <td>
            <a href="http://www.Weather.com">http://www.Weather.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Noise
        </td>
        <td>
            <a href="http://www.Noise.com">http://www.Noise.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Sports
        </td>
        <td>
            <a href="http://www.Sports.com">http://www.Sports.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Messages
        </td>
        <td>
            <a href="http://www.Messages.com">http://www.Messages.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Email
        </td>
        <td>
            <a href="http://www.Email.com">http://www.Email.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Boring Business
        </td>
        <td>
            <a href="http://www.buisness.com">http://www.buisness.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Lists
        </td>
        <td>
            <a href="http://www.todo.com">http://www.todo.com</a>
        </td>
    </tr>
</table>