@{
    ViewData["Title"] = "App List";
}
<h2>@ViewData["Title"]</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                App Name
            </th>
            <th>
                URL
            </th>
        </tr>
    </thead>
    <tr>
        <td>
            ABC
        </td>
        <td>
            <a href="http://www.abc.com">http://www.abc.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Boring Business
        </td>
        <td>
            <a href="http://www.buisness.com">http://www.buisness.com</a>
        </td>
    </tr>
    <tr>
        <td>
            CBC
        </td>
        <td>
            <a href="http://www.aaaaaaaaaa.com">http://www.aaaaaaaaaa.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Dogs
        </td>
        <td>
            <a href="http://www.aaaaaaaaaa.com">http://www.aaaaaaaaaa.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Email
        </td>
        <td>
            <a href="http://www.Email.com">http://www.Email.com</a>
        </td>
    </tr>
    <tr>
        <td>
            FaceLedger
        </td>
        <td>
            <a href="http://www.aaaaaaaaaa.com">http://www.aaaaaaaaaa.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Groups
        </td>
        <td>
            <a href="http://www.aaaaaaaaaa.com">http://www.aaaaaaaaaa.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Hello
        </td>
        <td>
            <a href="http://www.aaaaaaaaaa.com">http://www.aaaaaaaaaa.com</a>
        </td>
    </tr>
    <tr>
        <td>
            iChat
        </td>
        <td>
            <a href="http://www.aaaaaaaaaa.com">http://www.aaaaaaaaaa.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Jelly
        </td>
        <td>
            <a href="http://www.aaaaaaaaaa.com">http://www.aaaaaaaaaa.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Kangaroo
        </td>
        <td>
            <a href="http://www.aaaaaaaaaa.com">http://www.aaaaaaaaaa.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Lists
        </td>
        <td>
            <a href="http://www.todo.com">http://www.todo.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Music
        </td>
        <td>
            <a href="http://www.music.com">http://www.music.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Noise
        </td>
        <td>
            <a href="http://www.Noise.com">http://www.Noise.com</a>
        </td>
    </tr>
    <tr>
        <td>
            opera
        </td>
        <td>
            <a href="http://www.aaaaaaaaaa.com">http://www.aaaaaaaaaa.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Pencil
        </td>
        <td>
            <a href="http://www.aaaaaaaaaa.com">http://www.aaaaaaaaaa.com</a>
        </td>
    </tr>
    <tr>
        <td>
            RSS Feed :D
        </td>
        <td>
            <a href="http://www.aaaaaaaaaa.com">http://www.aaaaaaaaaa.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Settings
        </td>
        <td>
            <a href="http://www.Settings.com">http://www.Settings.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Sports
        </td>
        <td>
            <a href="http://www.Sports.com">http://www.Sports.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Tracker
        </td>
        <td>
            <a href="http://www.tracker.com">http://www.tracker.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Under-There
        </td>
        <td>
            <a href="http://www.aaaaaaaaaa.com">http://www.aaaaaaaaaa.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Weather
        </td>
        <td>
            <a href="http://www.Weather.com">http://www.Weather.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Yalf
        </td>
        <td>
            <a href="http://www.aaaaaaaaaa.com">http://www.aaaaaaaaaa.com</a>
        </td>
    </tr>
</table>