@{
    ViewData["Title"] = "App List";
}
<h2>@ViewData["Title"]</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                App Name
            </th>
            <th>
                URL
            </th>
        </tr>
    </thead>
    <tr>
        <td>
            Social Media
        </td>
        <td>
            <a href="http://www.socialmedia.com">http://www.socialmedia.com</a>
        </td>
    </tr>
    <tr>
        <td>
            Music
        </td>
        <td>
            <a href="http://www.music.com">http://www.music.com</a>
        </td>
    </tr>
</table>