@{
    ViewData["Title"] = "Home Page";
}

<br/>
<br/>
<br/>

<span>
    <h1 id="page-title">Applications</h1>
</span>
<span>Change Environment: </span>
<select class="form-control" id="environment-select">
    <option value="1" data-page-title="Applications (DEMO VERSIONS)">Demo/Preview</option>
    <option value="2" data-page-title="Applications (TEST VERSIONS)">Test</option>
    <option value="3" data-page-title="Applications" selected>Live/Production</option>
</select>
<br/>
<div id="apps">
    <h1>Loading...</h1>
</div>




