@{
    ViewData["Title"] = "Home Page";
}

<br/>
<br/>
<br/>

<select class="form-control" id="environment-select">
    <option value="1">Development</option>
    <option value="2">Test</option>
    <option value="3" selected>Production</option>
</select>
<br/>
<div id="apps">Loading...</div>




